@*@page
@model MB.Presentation.Areas.Administrator.Pages.ArticleCategoryManagment.CreateArticleCategoryModel
@{
}
@if  (Model.ErrorMessage != null)
    {
       <div class="col-md-6 alert alert-danger">
            @Model.ErrorMessage
        </div>
    }
<form method="post">
    <div class="row">
        <div class="col-md-6 form-group">
            <label asp-for="@Model.command.Title"> </label>
            <input class="form-control" asp-for="@Model.command.Title" value="" type="text" />
             <span asp-validation-for="@Model.command.Title" class="text-danger"></span>
        </div>
     
       
        </div>
        <div class="row">
         <div class="col-md-3 form-group pt-3">
            <input type="submit" value="ایجاد" class="btn btn-success form-control"/>
           <p class="mr-auto text-center "><a class="btn btn-dark text-center mt-3 " asp-page="./ArticleCategoryIndex"> برگشت به لیست دسته ها</a></p> 
        </div>
        </div>
    
</form>
*@