@page
@model IndexModel
@{
    ViewData["Title"] = "مدیریت مقالات";
}

<div class="text-center">
    
    <h1 class="display-4" class="mt-3" >  ‍پنل ادمین   </h1>
    <p >   سیستم مدیریت مقالات   </p>
</div>
